@charset "utf-8";

:root {
    --color-pink: #F4A6B8;
    --color-black: #000000;
    --color-white: #FFFFFF;
}

.color_black{
    color: var(--color-black);
}
.color_white{
    color: var(--color-white);
}

.background_black{
    background: var(--color-black);
}
.background_white{
    background: var(--color-white);
}

/*  PC */
@media screen and (min-width: 768px) {
    .body_black{
        background: linear-gradient(90deg, var(--color-pink) 0%, var(--color-pink) 20%, var(--color-black) 20%, var(--color-black) 80%,var(--color-pink) 80%, var(--color-pink) 100%);
    }
    .body_white{
        background: linear-gradient(90deg, var(--color-pink) 0%, var(--color-pink) 20%, var(--color-white) 20%, var(--color-white) 80%,var(--color-pink) 80%, var(--color-pink) 100%);
    }
    .footer_black{
        background: linear-gradient(90deg, var(--color-pink) 0%, var(--color-pink) 20%, var(--color-black) 20%, var(--color-black) 80%,var(--color-pink) 80%, var(--color-pink) 100%);
    }
    .footer_white{
        background: linear-gradient(90deg, var(--color-pink) 0%, var(--color-pink) 20%, var(--color-white) 20%, var(--color-white) 80%,var(--color-pink) 80%, var(--color-pink) 100%);
    }
}

/*  SP */
@media screen and (max-width: 767px){
    .body_black{
        background: var(--color-black);
    }
    .body_white{
        background: var(--color-white);
    }
}