@charset "utf-8";

:root {
    --flex-left: 20%;
    --flex-center: 60%;
    --flex-right: 20%;
    --flex-center-sp: 100%;
}

body{
    width: 100%;
    margin: 0;
}

.profile-contents{
    width: 100%;
    margin-top: 24px;
}
.profile-image{
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: var(--color-pink) 4px solid;
    border-radius: 64px;
    margin: auto;
}
.profile-button-area{
    width: 128px;
    height: 128px;
    padding: 0;
    border: none;
    background: transparent;
}
.profile-button-area img{
    width: 100%;
    height: auto;
}
.profile-description{
    margin: auto;
    margin: 16px;
}
.profile-description span{
    display: block;
}
.profile-name{
    margin-bottom: 4px;
    font-weight: bold;
    text-align: center;
    color: var(--color-pink);
}
.profile-job{
    margin-bottom: 12px;
    font-size: 10px;
    text-align: center;
}
.profile-intro{
    font-size: 12px;
    text-align: center;
    color: var(--color-pink);
}
.profile-sns {
    margin: 16px;
    text-align: center;
}
.profile-sns img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

.separate_line {
    border: solid 1px var(--color-pink);
    width: 80%;
}

.highlow{
    margin-top: 24px;
    text-align: center;
}
.highlow div{
    font-weight: bold;
    color: var(--color-pink);
}
.highlow_and{
    font-size: 12px;
}
.highlow_button-area{
    margin-bottom: 16px;
}

.button_highlow {
    padding: 0;
    border: none;
    background: transparent;
    margin-left: 48px;
    margin-right: 48px;
}
.button_highlow img{
    width: 40px;
    height: 40px;
}

.overlay-text-area {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.overlay-area {
    position: absolute;
    margin-top: 32px;
    z-index: 2;
    height: 160px;
    opacity: 0.90;
    visibility: hidden;
}
.overlay-open {
    visibility: visible;
  }

.footer-area {
    color: var(--color-pink);
    font-size: 8px;
    display: grid;
    place-items: center;
    height: 24px;
}

/*  PC */
@media screen and (min-width: 768px) {
    .flexbox{
        display: flex;
    }
    .flex_left{
        width: var(--flex-left);
        /* 
        border: solid;
        border-color: var(--color-pink);
        */
        background: var(--color-pink);
    }
    .flex_center{
        width: var(--flex-center);
    }
    .flex_right{
        width: var(--flex-right);
        /* 
        border: solid;
        border-color: var(--color-pink);
        */
        background: var(--color-pink);
    }
    .overlay-area-width {
        width: var(--flex-center);
    }
}

/*  SP */
@media screen and (max-width: 767px){
    .flexbox{
        display: block;
    }
    .flex_left{
        display: none;
    }
    .flex_center{
        width: var(--flex-center-sp);
    }
    .flex_right{
        display: none;
    }
    .overlay-area-width {
        width: var(--flex-center-sp);
    }
}